.hero-container {
  display: grid;
  grid-template-columns: 65% 35%;
  width: 100%;
}

.first-column {
padding: 10% 15%;
}

.p1 {
  color: #d4a7a7;
  line-height: 1.7;
  letter-spacing: 0.15em;
  font-size: 0.9rem;
  text-align: left;
  font-family: "Syne";
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

.p2 {
  color: #2f2f2f;
  text-transform: capitalize;
  line-height: 1.1;
  letter-spacing: 0em;
  font-size: 73px;
  text-align: left;
  font-family: "Merchant Thin";
  font-weight: 300;
  font-style: normal;
  margin-top: 30px;
  margin-bottom: 50px;
}
.p2-italics {
  text-decoration: underline #eadbdb;
}
.p3 {
  color: #2f2f2f;
  line-height: 1.9;
  letter-spacing: 0.03em;
  font-size: 1rem;
  text-align: left;
  font-family: "Assistant";
  font-weight: 300;
  font-style: normal;
}
.btn-div {
  display: flex;
  justify-content: left;
  align-items: left;
}
.hero-btn {
  display: flex;
  background-color: #f3e8e8;
  transition: background-color, border-color, 0.5s;
  border: 1px solid #eadbdb;
  border-radius: 50px;
  letter-spacing: 0.12em;
  font-size: 14px;
  font-family: "Syne";
  font-weight: 500;
  font-style: normal;
  padding: 18px 15px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 8px;
}

.hero-btn:hover {
  background-color: #eadbdb;
  opacity: 0.8;
  color: #d4a7a7;
}

.hero-icon{
font-size: 18px;
}


.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width:1500px){

  .hero-image-container{
    height: 700px;
  }
  .hero-btn{
    margin-top: 65px;
  }
  .p1{
    font-size: 1.2rem;
  }
  .p3{
    font-size: 1.2rem;
  }
}
@media screen and (min-width:2560px){
  .hero-container{
    grid-template-columns: 35% 65%;
  }
  .hero-btn{
    margin-top: 75px;
  }
}

@media only screen and (max-width: 1130px){
  .p1{
    font-size: 1rem;
  }
  .p2{
    font-size: 60px;
  }
  .p3{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 930px){
  .p1{
    font-size:0.8rem;
  }
  .p2{
    font-size: 50px;
  }
  .p3{
    font-size:0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero-image-container{
    height: 380px;
  }

  .btn-div {
    justify-content: center;
    align-items: center;
  }

  .p1 {
    text-align: center;
    font-size:0.95rem;
  }

  .p2 {
    text-align: center;
    font-size: 65px;
  }

  .p3 {
    text-align: center;
    font-size:1.2rem;
  }
}


@media only screen and (max-width: 650px){
  .p1{
    font-size:0.75rem;
  }
  .p2{
    font-size: 50px;
    margin-bottom: 30px;
  }
  .p3{
    font-size:1rem;
  }
}

@media only screen and (max-width:550px){
  .p1{
    font-size:0.65rem;
  }
  .p2{
    font-size: 47px;
  }
  .p3{
    font-size:1rem;
  }
}

@media only screen and (max-width:460px){
  .p1{
    font-size:0.6rem;
  }
  .p2{
    font-size: 42px;
  }
  .p3{
    font-size:0.7rem;
  }
}

@media only screen and (max-width:412px){
  .p1{
    font-size:0.5rem;
  }
  .p2{
    font-size: 35px;
  }
  .p3{
    font-size:0.6rem;
  }
  .hero-btn{
    font-size: 11px;
  }
}

@media only screen and (max-width:350px){
  .p1{
    font-size:0.4rem;
  }
  .p2{
    font-size: 30px;
  }
  .p3{
    font-size:0.6rem;
  }
}




