.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfbfa;
  padding: 1rem;
  border-bottom: solid 1px #eadbdb;
}

.logo {
  width: 230px;
}

ul {
  display: flex;
  list-style: none;
  text-align: center;
}

li a {
  margin: 0 0.5rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  font-family: "Syne";
  font-weight: 500;
  font-style: normal;
  color: #2f2f2f;
  transition: 0.5s, color, letter-spacing, ease;
}

li a:hover {
  color: #d4a7a7;
  letter-spacing: 0.18rem;
}

.nav-btn {
  background-color: #eadbdb;
  border: solid #eadbdb;
  border-radius: 50px;
  height: 3.25rem;
  width: 12rem;
  margin-left: 15px;
  letter-spacing: 0.12rem;
  font-size: 14px;
  font-family: "Syne";
  font-weight: 500;
  font-style: normal;
  padding: 6px;
}

.nav-btn:hover {
  background-color: #eadbdb;
  color: #e7c9c9;
}

@media screen and (max-width: 882px) {
  .logo {
    width: 140px;
  }
  .nav-btn {
    height: 2.6rem;
    width: 10rem;
    padding: 7px;
  }
}

@media screen and (max-width: 745px) {
  .navbar {
    display: none;
  }
}
