.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfbfa;
  padding: 1rem;
  border-bottom: solid 1px #eadbdb;
}

.logo {
  width: 230px;
}

ul {
  display: flex;
  list-style: none;
  text-align: center;
}

li a {
  margin: 0 0.5rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  font-family: "Syne";
  font-weight: 500;
  font-style: normal;
  color: #2f2f2f;
  transition:  color 0.5s ease;
}

li a:hover {
  color: #d4a7a7;
  transform: scale(1.1);
}

.nav-btn {
  display: flex;
  background-color: #eadbdb;
  border: 1px solid #eadbdb;
  border-radius: 50px;
  height: 3.25rem;
  width: 12rem;
  margin-left: 15px;
  letter-spacing: 0.12rem;
  font-size: 14px;
  font-family: "Syne";
  font-weight: 500;
  font-style: normal;
  padding: 6px;
  align-items: center;
  justify-content: center;
  gap:5px;
}
.navbtn-icon{
  font-size: 18px;
}
.menu-icon {
  display: none;
}

.nav-btn:hover {
  background-color: #eadbdb;
  color: #d4a7a7;
}


@media screen and (max-width: 882px) {
  .logo {
    width: 140px;
  }
  .nav-btn {
    height: 2.6rem;
    width: 10rem;
    padding: 7px;
  }
}

@media screen and (max-width: 768px) {
  .logo{
    width: 200px;
  }
   .nav-btn {
    display: none;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    padding: 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 0.5rem 0;
  }

  .menu-icon {
    display: flex;
    z-index: 1000;
    color: #d4a7a7;
    background: none;
    border: none;
  }

  .nav-btn-container {
    display: none;
  }
}
@media(max-width:500px){
  .logo {
    width: 180px;
  }
} 


  
