.intro-general-container {
  display: grid;
  grid-template-columns: 60% 40%;
  position: relative;
  width: 80%;
  margin: 80px auto 200px;
}

.intro-text-container {
 margin: 25px 0 0;
}

.intro-title-text {
  color: #2f2f2f;
  font-size: 82px;
  text-transform: capitalize;
  line-height: 1;
  font-family: "Merchant Thin";
  font-weight: 400;
  margin: 0;
  white-space: nowrap;
}
u {
  text-decoration: underline #eadbdb;
}

.intro-subtitle-text {
  color: #d4a7a7;
  line-height: 1.7;
  letter-spacing: 0.15em;
  font-size: 16px;
  text-align: left;
  font-family: "Syne";
  font-weight: 500;
}

.intro-description-text  {
  line-height: 1.9;
  letter-spacing: 0.03em;
  font-size: 16px;
  text-align: left;
  font-family: "Assistant";
  font-weight: 300;
  font-style: normal;
  padding-right: 70px;
  
}
.intro-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3e8e8;
  transition: background-color, border-color, 0.5s ease;
  border: 1px solid #eadbdb;
  border-radius: 50px;
  letter-spacing: 0.12em;
  font-size: 14px;
  font-family: "Syne";
  font-weight: 500;
  font-style: normal;
  padding: 20px 15px;
  text-transform: uppercase;
  width: 300px;
 margin-top: 70px;
 gap:5px;
}

.intro-icon{
  font-size: 18px;
}

.intro-button:hover {
  background-color: #eadbdb;
  opacity: 0.8;
  color: #d4a7a7;
}

.intro-image-container {
  width: 358px;
  height: 440px;
  z-index: -1;
}

.intro-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.intro-stamp-container{
  position: absolute;
  top: -50px;
  right: -30px;
}
.intro-stamp {
  width: 180px;
  height: 180px;
  font-size: 40px;
  font-family: "Syne";

}

@media screen and (max-width:1200px){
.intro-title-text{
  font-size: 70px;
}
.intro-stamp-container{
  right: -50px;
}

.intro-button{
  margin-top: 30px;
}
}

@media screen and (max-width:1110px){
  .intro-title-text{
    font-size: 65px;
  }
  .intro-stamp-container{
    right: -75px;
  }
  }

  @media screen and (max-width:980px){
    .intro-title-text{
      font-size: 60px;
    }
    .intro-stamp-container{
      right: -105px;
    }
    }

    @media screen and (max-width:910px){
      .intro-title-text{
        font-size: 54px;
      }
      .intro-stamp-container{
        right: -135px;
      }
    
      }
      @media screen and (max-width:880px){
        .intro-description-text{
          font-size: 14px;
        }
      }

      @media screen and (max-width:830px){
        .intro-title-text{
          font-size: 50px;
        }
        .intro-stamp-container{
          right: -155px;
        }
        }
    
  

@media screen and (max-width: 768px) {
  .intro-general-container {
    display: flex;
    flex-direction: column-reverse;
    border-top: none;
  }

  .intro-image-container {
   width: 550px;
    height:500px;
    margin: 0 auto;
  }
  
  .intro-title-text {
    text-align: center;
    font-size: 53px;
  }
  .intro-subtitle-text {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
  }
  .intro-description-text {
    text-align: center;
    padding: 0 50px;
    font-size: 16px;
  }
  .intro-button-container{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .intro-button{
    margin-top: 30px;
  }
  .intro-text-container{
    margin: 50px auto;
  }

  .intro-stamp-container{
    right: -55px;
  }
}

@media screen and (max-width: 640px) {
  .intro-image-container {
    width: 380px;
    height: 100%;
    margin: 0 auto;
  }
  .intro-title-text{
    font-size: 45px;
  }
}

@media screen and (max-width:430px) {
 
 .intro-image-container{
  width: 300px;
 }
 .intro-title-text{
  font-size: 35px;
}
.intro-description-text {
  text-align: center;
  padding: 0;
  font-size: 16px;
}
.intro-stamp-container{
 right: -45px;
}
}

