 .footer-section {
  display: flex;
  justify-content: space-between;
}

.explore-visit-container {
  display: flex;
  gap: 50px;
}

.explore-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}
.explore-heading {
  text-transform: capitalize;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-size: 30px;
  text-align: center;
  font-family: "Merchant Thin";
  font-weight: 200;
  font-style: normal;
  transition: 0.5s color ease;
  margin: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eadbdb;
}
.explore-heading:hover {
  color: #eadbdb;
}

.explore-para {
  margin: 0;
  padding: 5px 0;
  line-height: 1.7;
  letter-spacing: 0.05em;
  font-size: 12px;
  font-family: "Assistant";
  font-weight: 300;
  font-style: normal;
}

.explore-para-italics{
  margin-bottom: 5px;
  padding: 5px 0;
  line-height: 1.7;
  letter-spacing: 0.05em;
  font-size: 12px;
  font-family: "Assistant";
  font-weight: 300;
  font-style: normal;
}
.ul-container {
  display: flex;
  flex-direction: row;

}

.explore-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.explore-container li {
  padding: 10px;
  color: black;
  font-family: 'Syne';
  font-size: 14px;
  text-align: start;
}

.explore-button{
    background-color: #F3E8E8;
    border: 1px solid #eadbdb;
    border-radius: 24px;
    padding: 10px 15px;
    font-family: 'Syne';
    transition: all 0.5s ease-in;
    width: 200px;
}
.explore-button:hover{
  background-color: #eadbdb;

}
.visit-explore-button{
  background-color: #F3E8E8;
  border: 1px solid #eadbdb;
  border-radius: 24px;
  padding: 10px 12px;
  font-family: 'Syne';
  transition: all 0.5s ease-in;
  width: 200px;
  font-size: 13px;
  margin-top: 5px;
}
.visit-explore-button:hover{
background-color: #eadbdb;

}
.explore-container-button{
display: flex;
align-items: center;
justify-content: center;

}

.explore-icon-container{
  margin-top: 5px;
  display: flex;
  align-items: start;
  justify-content: start;
}



.explore-icon{
  padding: 5px;
  color:#d4a7a7;
 
}
.visit-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 30px 0;
}
.visit-container-button{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ten-off-container {
  padding-top: 60px;
  text-align: center;
}

.ten-off-button-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 25px;
}

.ten-off-button-1 {
  width: 200px;
  border: solid 1px #F3E8E8;
  background-color: #FCFBFA;
  transition: all 0.5s ease;
  color: black;
  border-radius: 24px;
  padding: 15px;
  font-size: 13px;
  font-family: 'Syne';
}

.ten-off-button-1:hover{
    background-color: #d4a7a7;
    color: #eadbdb;
}

.ten-off-button-2 {
    width: 200px;
    border: solid 1px #d4a7a7;
    background-color: #d4a7a7;
    transition: all 0.5s ease-in;
    color:#eadbdb;
    border-radius: 24px;
    padding: 15px;
    font-size: 13px;
    font-family: 'Syne';
  }

  .ten-off-button-2:hover{
    background-color:#FCFBFA;
    color: black
}

.ten-off-heading-div {
  padding: 0 50px;
}

.ten-off-heading {
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-size: 30px;
  text-align: center;
  font-family: "Merchant Thin";
  font-weight: 200;
  font-style: normal;
  transition: 0.5s color ease;
}

.ten-off-heading:hover {
  color: #eadbdb;
}

.join-mail {
  font-weight: 300;
  font-size: 12px;
  font-family: "Assistant";
  padding: 5px 0;
}



@media screen and (min-width: 748px) {
  .visit-container-button {
    display: none;
  }
}
@media screen and (min-width: 1500px){
  .footer-section{
    justify-content: center;
    gap:300px;
  }
}

@media screen and (min-width: 2560px) {
  .footer-section{
    justify-content: center;
    gap:200px;
  }
  .explore-visit-container{
    gap: 120px;
  }
  .explore-heading{
    font-size: 65px;
  }
  .explore-container li{
    font-size: 27px;
  }
  .explore-para{
    font-size: 23px;
  }
  .explore-para-italics{
    font-size: 23px;
  }
  .visit-explore-button{
    width: 300px;
    font-size: 18px;
    margin-top: 20px;
  }
  .explore-icon{
    font-size: 30px;
  }
  .ten-off-heading{
    font-size: 68px;
  }
  .join-mail{
    font-size: 28px;
  }
  .ten-off-button-1{
    width: 300px;
    font-size: 25px;
  }
  .ten-off-button-2{
    width: 300px;
    font-size: 25px;
  }
  .ten-off-container{
    padding-top: 80px;
  }
  .ten-off-button-container{
    margin-top: 30px;
  }
}

@media screen and (max-width: 1124px) {
  .explore-heading{
    font-size: 25px;
  }
  .ten-off-heading{
    font-size: 25px;
  }
 
}

@media screen and (max-width: 1024px) {

  .explore-visit-container{
    gap: 40px;
  }
  .explore-heading{
    font-size: 20px;
  }
  .ten-off-heading{
    font-size: 20px;
  }
  .visit-explore-button{
    width: 150px;
 
   }
  .ten-off-button-1{
    width: 150px;
  }
  .ten-off-button-2{
    width: 150px;
  }
 .explore-container li {
  font-size: 12px;
 }
}

@media screen and (max-width: 928px) {
.explore-para{
  font-size: 10px;
}
.explore-para-italics{
  font-size: 10px;
}
.explore-heading{
  font-size: 15px;
}

.explore-container li {
  font-size: 10px;
 }
 
}

@media screen and (max-width: 890px){
  .footer-section{
    padding: 10px;
  }
.ten-off-heading{
  font-size: 15px;
}
  .explore-container{
    padding: 20px;
  }
  .visit-container{
    padding: 20px 0;
  }
  .ten-off-button-1{
    width: 120px;
    font-size: 11px;
  }
  .ten-off-button-2{
    width: 120px;
    font-size: 11px;
  }
  .visit-explore-button{
    width: 120px;
    font-size: 11px;
  }
  .explore-container{
    padding: 10px;
  }
  .visit-container{
    padding: 10px 0; 
  }
}


@media screen and (max-width: 748px) {
  .footer-section {
   flex-direction: column;
   padding: 0;
  }
  .explore-container {
    display: none;
  }
  .explore-button{
    width: 200px;
  }
  .explore-heading{
    font-size: 35px;
  }
  .visit-container {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 50px 100px;
  }

  .ten-off-button-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ten-off-container{
    padding-top: 0;
  }
  .ten-off-heading{
    font-size: 35px;
  }
  .ten-off-button-1{
    width: 200px;
  }
  .ten-off-button-2{
    width: 200px;
  }
  .explore-icon-container{
    margin-top: 30px;
    align-items: center;
    justify-content: center;
  }
  .explore-icon{
    font-size: 30px;
    padding: 10px;
  }
  .visit-container{
    margin-top: 50px;
  }
}

@media screen and (max-width: 500px) {
.visit-container{
  margin-top: 0;
}
.explore-heading{
  font-size: 30px;
}
.explore-para{
  font-size: 8.5px;
}
.explore-para-italics{
  font-size:8.5px;
}
}